{# src/Lopee/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bye bye</title>
</head>
<body>
<h1>Aurevoir {{ nom }} !</h1>

<p>
    byebye tout le monde
</p>
</body>
</html>
